= form_for [@multiple_choice_question, @multiple_choice_question.answer_for_multiples.build] do |f|
  .field
    = f.label :check
    = f.check_box :check
  .field
    = f.label :content
    = f.text_area :content
  .actions
    = f.submit 'Save'
