%p#notice= notice

%p
  %b Title:
  = @multiple_choice_question.title
%p
  %b Content:
  = @multiple_choice_question.content

= link_to 'Edit', edit_company_multiple_choice_question_path(@company, @multiple_choice_question)
\|

= render 'answer_for_multiples/form'
= link_to 'Back', company_multiple_choice_questions_path
