%p#notice= notice

%p
  %b Title:
  = @multiple_choice_question.title
%p
  %b Content:
  = @multiple_choice_question.content

= link_to 'Edit', edit_multiple_choice_question_path(@multiple_choice_question)
\|
= link_to 'Back', multiple_choice_questions_path
