%p#notice= notice

%p
  %b Title:
  = @multiple_choice_question.title
%p
  %b Content:
  = @multiple_choice_question.content
%table
  - @multiple_choice_question.answer_for_multiples.each do |answer|
    %tr
      - if answer.check
        %td
          %a{href: "#", onclick: "alert('あたり')"}
            = answer.content
      - else
        %td
          %a{href: "#", onclick: "alert('はずれ')"}= answer.content
    = link_to 'Edit',edit_company_multiple_choice_question_answer_for_multiple_path(@company, @multiple_choice_question, answer)
= render 'answer_for_multiples/form'
= link_to 'Edit', edit_company_multiple_choice_question_path(@company, @multiple_choice_question)
\|

= link_to 'Back', company_multiple_choice_questions_path
