= form_for @company do |f|
  - if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :company_name
    = f.text_field :company_name, placeholder: '株式会社ダラフ'
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :longitude
    = f.text_field :longitude
  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :homepage_url
    = f.text_field :homepage_url, placeholder: 'daraf.co.jp'
  .field
    = f.label :established_at
    = f.date_select :established_at
  .field
    = f.label :number_of_members
    = f.number_field :number_of_members
  .field
    = f.label :mail
    = f.text_field :mail, placeholder: 'example@gmail.com'
  .field
    = f.label :twitter
    = f.text_field :twitter, placeholder: 'pipet_sc'
  .field
    = f.label :slideshare
    = f.text_field :slideshare, placeholder: '12345678'
  .field
    = f.label :vine
    = f.text_field :vine, placeholder: 'https://vine.co/v/a1b2c3d4f5'
  .field
    = f.label :youtube
    = f.text_field :youtube, placeholder: 'ZFFEA-5XxuE'
  .field
    = f.label :logo
    = f.file_field :logo
  .field
    = f.label :cover
    = f.file_field :cover
  .field
    = f.label :phone
    = f.text_field :phone, placeholder: '090-5796-0675'
  .actions
    = f.submit 'Save'
